# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Excluded maps (only China standard maps are pushed to GitHub)
public/maps/各大洲标准地图_*
public/maps/世界_*
public/maps/0-缩略图/continent-*
public/maps/0-缩略图/world-*
